@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/SpaceMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/SpaceMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('./assets/fonts/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased min-h-screen flex flex-col font-sans selection:bg-primary selection:text-white;
  }

  /* Massive Editorial Headings */
  h1,
  h2,
  h3,
  .font-editorial {
    @apply font-serif tracking-tight leading-none;
  }
}

@layer utilities {
  .page-transition {
    @apply transition-opacity duration-700 ease-in-out;
  }
}